@page
@model UniversityMangeSystem.Pages.TeacherModel
@{
}
<head>
    <style>
        a {
            margin-top: 15px;
        }
    </style>
</head>

<h2 class="text-center" class="btn btn-primary">Welcome Teacher</h2>
<a href="/WorksToCheck" class="btn btn-primary">CheckWorks</a>
<a href="/CheckedWorks" class="btn btn-primary">CheckedWorks</a>